<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="images/12.png">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'Css/style.css' %}">
        <title>NBA Database</title>
    </head>
    <body>

        <header>
            <img src="{% static 'Images/nba.png' %}">
            <button class="logout button" >Log out</button>
            <h1> DATABASE </h1>
            
            
        </header>

        
            <nav class="options">
                <ul>
                    <li><a href="teams" class="button"> Drużyny</a></li>
                    <li><a href="players" class="button"> Zawodnicy</a></li>
                    <li><a href="coach" class="button"> Trenerzy</a></li>
                    <li><a href="hall" class="button"> Hale</a></li>
                    <li><a href="stats" class="button"> Statystyki</a></li>
                    <li><a href="match" class="button"> Mecze</a></li>
                </ul>
            </nav>

        <main>

            <button class="add button"><a href="addhall">Dodaj Hale</a></button>
            <br>
            <div class="accordion" id="chapters">
                {% for hala in halls %}
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#chapter-{{forloop.counter}}" aria-expanded="true" aria-controls="chapter-{{forloop.counter}}">
                            {{hala.nazwa_hali}}
                        </button>
                    </h2>
                    <div id="chapter-{{forloop.counter}}" class="accordion-collapse collapse" data-bs-parent="#chapters">
                        <div class="accordion-body">
                            <h4>Pojemność</h4>
                            {{hala.pojemnosc}} miejsc
                            <br>
                            <h4>Miasto</h4>
                            {{hala.miasto}}
                            <br>
                            <h4>Adres</h4>
                            {{hala.adres}}
                            <br>
                            <h4>Drużyna</h4>
                            {{hala.klub.nazwa_druzyny}}
                            <br>
                            <form action="hall" method="post" class="deletef">
                                <button type="submit" class="delete" name="usun" value="{{hala.id_hala}}" >
                                    Usuń Hale
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>

        </main>

        <footer>
            <p>&copy; NBA Database</p> 
        </footer>


    </body>
</html>

